body {
  background: #111;
}

.container {
  display: flex;
  width: 100%;
  padding: 20px 40px 20px 40px;
  overflow-x: auto;
  overflow-y: hidden;
}
.container img {
  width: 155px;
  height: 240px;
  border: 1px solid white;
  margin: 0 23px;
}
.container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.container p {
  width: 155px;
  margin: 10px 23px 23px 23px;
  text-align: center;
}

/* Modal */
.modalContainer {
  font-size: 1em;
  color: white;
}
.modalContainer h1,
h2 {
  color: white;
}

.modalWrapper {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(20.78%, 24.31%, 30.98%, 1) 150px,
    rgba(29.8%, 31.76%, 36.08%, 0.84) 100%
  );
  opacity: 0.9;
}
.modalImage img {
  width: 380px;
  height: 500px;
  border-radius: 10%;
  margin: 20px;
}
