// Using SCSS

$finalHeight: 300px;
$finalWidth: 4 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

body {
  background: #111;
}

section {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  // width: calc(#{$finalHeight} + 145px+ #{$scrollBarHeight});
  max-height: $finalWidth;
  margin-top: 60px;
  padding-top: $scrollBarHeight;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-$finalHeight);
  transform-origin: right top;
  & section {
    display: block;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  & > section:hover {
    cursor: pointer;
  }
}

.squares {
  padding: $finalHeight 0 0 0;
  & > section {
    width: $finalHeight;
    height: $finalHeight / 1.55;
    margin: 12px;
  }
}
.squares img {
  width: 155px;
  height: 240px;
  border: 1px solid white;
}
.squares img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.squares p {
  width: 155px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

/* Modal */
.modalContainer {
  font-size: 1em;
  color: white;
}
.modalContainer h1,
h2 {
  color: white;
}

.modalWrapper {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(20.78%, 24.31%, 30.98%, 1) 150px,
    rgba(29.8%, 31.76%, 36.08%, 0.84) 100%
  );
  opacity: 0.9;
}
.modalImage img {
  width: 380px;
  height: 500px;
  border-radius: 10%;
  margin: 20px;
}
